@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic", sans-serif;
    background: #fff; color: #333;}
*{margin: 0; padding: 0; box-sizing: border-box;}

    header{width: 1200px; height: 100px;
    background: green; margin: auto; display: flex;
    justify-content: space-between;
    align-items: center;}

    header .logo1{width: 200px; height: 100px; background: blanchedalmond;}
    header .nv{width: 600px; height: 100px; background: aqua;}

    .slide{width: 1200px; height: 300px; background: aquamarine; margin: auto;}

    .contents{width: 1200px; height: 200px; background: palegoldenrod; margin: auto; display: flex;}
    .contents .notice{width: 400px; height: 200px; background: violet;}
    .contents .ban{width: 400px; height: 200px; background: fuchsia;}
    .contents .go{width: 400px; height: 200px; background: rebeccapurple;}

    footer{width: 1200px; height: 100px; background: darkgrey; margin: auto; display: flex;}
    footer .logo2{width: 200px; height: 100px; background: khaki;}
    footer .menu{width: 1000px; height: 50%; background: chartreuse;}
    footer .copy{width: 1000px; height: 50%; background: darkcyan;}