
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 8px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

ol {
    margin-left: 25px;
    margin-bottom: 20px;
}

ol li {
    line-height: 20px;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

button {
    padding: 2px 8px;
    font-size: 13px;
}

hr {
    border: 0;
    border-top: 1px solid #999;
    margin-bottom: 9px;
}


/* 부모 박스 */
.parent {
    width: 640px;
    height: 210px;

    border: 5px solid #ccc;

    display: flex;
    gap: 20px;

    padding: 0;

    overflow: hidden;
}


/* 두 부모 사이 간격 */
.parent2 {
    margin-top: 50px;
}


/* 자식 박스 */
.box {
    flex: 0 0 200px;

    width: 200px;
    height: 200px;

    font-size: 16px;
}


/* 첫 번째 부모 */
.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: white;
}


/* 두 번째 부모 */
.box4 {
    background-color: #ffc800;
}

.box5 {
    background-color: #baff00;
}

.box6 {
    background-color: #18bde8;
    position: relative;
}