@charset "utf-8";
body{
    font-family: "맑은 고딕";
}

*{padding: 0; margin: 0; box-sizing: border-box;}

h1{margin-bottom: 26px;}
ol{margin-left: 30px; margin-bottom: 30px;}

button{width: 50px; height: 20px; 
/* 버튼 댔을 때, 마우스 포인트 -> 손모양 변경 명령 */
cursor: pointer;
}
hr{margin: 30px 0px;}

.parent{display: flex;gap: 22px;}
.parent div{width: 200px; height: 200px; 
    border: 1px solid black;}

.parent .box1{background: #ffcc00;}
.parent .box2{background: #47c2fd;}
.parent .box3{background: #fd6f7d;}